<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p><%= @text %></p>
    <p>
      Great! Peace out gscout<br>
    </p>
  </body>
</html>