<%= form_tag sign_up_for_shifts_path(@id), :id => 'vacant_shifts_form', :class => "form-horizontal" do %>
  <fieldset>
    <legend>Unassigned Shifts</legend>
  
      <% @shifts.each do |shift| %>
        
          <%= shift.to_s %>
          
              
            </tbody>
          </table>
        <% end %>


  <div class="form-group">
    <div class="col-lg-10">
      <%= submit_tag "Assign Shifts", :class => "btn btn-primary" %>
    </div>
  </div>
</fieldset>
<% end %>
