<h1>Send new Email</h1>

<%= form_for :email, :url => send_mass_email_path do |f| %>
  Subject: <%= f.text_field :subject, :id => 'subject' %><br />
  Text: <%= f.text_field :text, :id => 'body', :required => true %><br />
  <%= f.submit 'Send Email' %>
<% end %>