<p id="notice"><%= notice %></p>

<iframe src=<%= ENV["CALENDAR_URL"] %> style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

<br>

<%= link_to 'Release a new pay period for MoonLighters', create_new_pay_period_path, :class => 'btn btn-link' %>
<br>
<%= link_to 'All pay periods', pay_periods_path, :class => 'btn btn-link' %>


