<h2>My Shifts</h2>
<p>These are shifts that you have currently signed up for </p>
<ul>
<% @confirmedShifts.each do |shift| %>
	<li><%= shift.start_datetime.strftime("%b %d") + " - " + shift.start_datetime.strftime("%b %d") %></li>
<% end %>
</ul>
<p>These are the shifts you have requested but not yet been approved for</p>
<ul>
<% @unconfirmedShifts.each do |shift| %>
	<li><%= shift.start_datetime.strftime("%b %d") + " - " + shift.start_datetime.strftime("%b %d") %></li>
<% end %>
</ul>