<h2>My Shifts</h2>
<h4>Confirmed Shifts: </h4>
<ul>
<% @confirmedShifts.each do |shift| %>
	<li><%= shift.start_datetime.strftime("%b %d %l:%M %p") + " - " + shift.end_datetime.strftime("%b %d %l:%M %p") %></li>
<% end %>
</ul>
<h4>Requested Shifts Awaiting Administrative Approval: </h4>
<ul>
<% @unconfirmedShifts.each do |shift| %>
	<li><%= shift.start_datetime.strftime("%b %d %l:%M %p") + " - " + shift.end_datetime.strftime("%b %d %l:%M %p") %></li>
<% end %>
</ul>