

<h2>Current Shifts available</h2>

  <% if @vacant_shifts.count != 0 %>
    <%=  form_tag sign_up_for_shifts_path(@id) do%>
    <fieldset>
      <%= collection_check_boxes(:post, :shifts, @vacant_shifts, :id, :to_s,  include_hidden: false) %>
      <div class="form-group">
        <div class="col-lg-10">
          <%= submit_tag 'Sign up for these shifts', :class=>'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>No shifts are currently available to sign up for.</h3>
    </fieldset>
  <% end %>
<br>
<%= link_to 'Back', dashboard_index_path, :class => 'btn btn-link'  %>