<h2>Current Shifts available</h2>

  <% if @vacant_shifts.count != 0 %>
    <%=  form_tag sign_up_for_shifts_path(@id) do%>
    <fieldset>
      <%= collection_check_boxes(:post, :shifts, @vacant_shifts, :id, :to_s, include_hidden: false) do |b| %>
        <div class="col-log-10">
        <%= b.label(class: "form-group") { b.check_box + b.text } %>
      </div>
        <% end %>
        <br>
      <div class="form-group">
        <div class="col-lg-10">
          <%= submit_tag 'Request Shifts', :class=>'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>No shifts are currently available to sign up for.</h3>
    </fieldset>
  <% end %>
