/* Custom CSS to override and augment Bootstrap */
.col-centered{
    float: none;
    margin: 0 auto;
}

.icon-middle {
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px;
}

.nav-logo {
	height:56px;
}