<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=<%= root_url %>>ER Moonlighter Scheduler</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"> 
          <% if user_signed_in? %>
            <% if current_user.registration_complete %> 
              <% if current_user.is_admin? %>
              <li class="inactive"><a href="<%= create_email_path %>">Send Email</a></li>
              <li class="inactive"><a href="#">Promote Users</a><li>
              <% end %>
            
            <li class="inactive"><a href="#">Contact List</a></li>
           
            <% end %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %> 
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </nav>